body {
  background-color: white;
  background-image: url(./assests/bg.png);
}
.input {
  width: 100%;
  margin-top: 1rem !important;
}
.button {
  margin-right: 1rem !important;
  margin-bottom: 1rem !important;
}
.dialogue-container {
  background-color: #e5ddd5;
  cursor: default;
  margin-top: 2rem;
  width: 100%;
  height: 65vh;
  overflow-y: scroll;
  padding: 0 1rem;
  padding-top: 4rem;
}
.header {
  position: fixed;
  background-color: white;
  width: 78%;
  padding: 1rem 2rem;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  z-index: 12;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.main-container {
  width: 100%;
}
.dialogue {
  width: max-content;
  margin: 0.6rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}
.d-human {
  background-color: #dcf8c6;
  color: black;
}
.d-bot {
  color: black;
  background-color: white;
}
.modal {
  background-color: white;
  height: 75vh;
  width: 80vw;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
